In [2]:
import __init__
import pandas as pd
import analyzer.zz_analyzer as zz
#pd.set_option('display.max_rows', 230)

df = zz.deflected_kmgroups("km20100101000020201231000096964fd8ed", 
    deflect_rate=0.65, min_cnt_a_year=10)
df

                 total  total1  total2  score1  score2  score
km_id
1210_0000000005     11    11.0     0.0     1.0     0.0   11.0
2120_0000000007     11    11.0     0.0     1.0     0.0   11.0
1110_0000000000     11    11.0     0.0     1.0     0.0   11.0
1111_0000000006     11    11.0     0.0     1.0     0.0   11.0
1112_0000000003     11    11.0     0.0     1.0     0.0   11.0
...                ...     ...     ...     ...     ...    ...
1211_0000000007     11     0.0     0.0     0.0     0.0    0.0
1211_0000000006     11     0.0     0.0     0.0     0.0    0.0
1211_0000000005     11     0.0     0.0     0.0     0.0    0.0
1211_0000000004     11     0.0     0.0     0.0     0.0    0.0
2222_0000000007     11     0.0     0.0     0.0     0.0    0.0

[214 rows x 6 columns]

In [9]:
len(df[df.index == "2222_0000000077"])

0